#form-area {
  padding-right: 5;
  position: absolute;
  top: 0;
  right: 50px;
  bottom: 0;
  background: rgba(232, 233, 235, 0.6);
  overflow: auto;
}

#loginForm small,
#loginForm label {
  margin-left: 2px;
}

html {

  font-family: "Monserrat", sans-serif;

}

.background {
  background: url("../images/bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
}

.loginFeedback {
  font-size: 0.8em;
  color: #810505e3;
  margin-left: 2px;
}

.hidden {
  display: none;
}

a:hover {
  color: #12896e;
}

label {
  width: 100%;
}

.floated-right {
  float: right !important;
  color: #12896e;
}

#bottomMessage {
  font-size: 0.8em;
  text-align: center;
  padding: 15px 0;
}

h1 span {
  color: #3a6073;
  font-size: 1.5em;
  padding: 5px;
  font-weight: lighter;
}

input[type="submit"],
input[type="button"] {
  background-color: #12896e;
  color: white;
  width: 100%;
}

#confirmPasswordChangeSubmit {
  background-color: #12896e;
  color: white;
  width: 100%;
}

#confirmPasswordChangeSubmit:hover {
  background-color: white;
  color: #12896e;
  border: 1px solid #12896e;
}

input[type="button"]:hover,
input[type="submit"]:hover {
  background-color: white;
  color: #12896e;
  border: 1px solid #12896e;
}

.register {
  font-size: 1em;
  text-align: center;
  padding-top: 15px;
  color: #12896e;
  padding-bottom: 15px;
}

/*input {
      border: .05rem solid #12895e !important;
  }*/

#logo {
  height: 33%;
  position: relative;
}

#logo img {
  font-family: "Monserrat", sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: lighter;
}

#privacy {
  font-size: 0.8em;


}

#privacy a {
  color: #12896e;
}

/*sm screen size */
@media (max-width: 576px) {
  #top-row {
    left: 10px;
    right: 10px;
    position: absolute;
    top: 10px;
    bottom: 10px;
    margin: 0;
    padding: 0;
  }

  button {
    width: 100%;
  }

  #form-area {
    right: 0;
  }
}

@media (max-width: 767.98px) {
  #top-row {
    left: 10px;
    right: 10px;
    position: absolute;
    top: 10px;
    bottom: 10px;
    margin: 0;
    padding: 0;
  }

  button {
    width: 100%;
  }

  #form-area {
    right: 0;
  }
}